* {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Microsoft YaHei UI", "Consolas", "宋体", sans-serif;
  font-weight: normal;
  word-wrap: break-word;
}

body {
  text-align: center;
  min-width: 300px;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  margin: .2rem;
  font-size: 1.2rem;
}

h3 {
  margin: .2rem;
  font-size: 1rem;
}

#container {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background-color: #ccc;
}

#main {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 1 0 auto;
  width: 100%;
}

#title {
  display: block;
  padding: .5rem 0;
  font-size: 1.2rem;
}

#content {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 2rem;
}

#content p {
  line-height: 1.5rem;
}

#log {
  display: block;
  width: 100%;
  text-align: left;
  padding: 3rem;
  background-color: #ddd;
}

#log * {
  padding: .2rem 0;
}

#log > p {
  font-weight: bold;
  display: inline-block;
  color: #146;
}

.log-item {
  display: block;
}

.log-item span {
  font-weight: bold;
  display: inline-block;
  color: #36c;
}

.log-item p {
  color: #000;
}
